.top
  .main
    .main-item
      .main-item-profile
        .main-item-profile_text
          profile
      .main-item-skill
        .main-item-skill_text
          スキル
      .main-item-deliverable
        .main-item-deliverable_text
          deliverable
  #profile
    .profile-box
      .profile-box-title
        profile-プロフィール-
      .profile-box-parent
        .profile-box-parent-1
          社会経験は事務が殆どでプログラミングとは無縁の人生を過ごす。
        .profile-box-parent-2
          その後、事務として在籍していた会社のシステムツールの不便さに触れ、
        .profile-box-parent-3
          この不便なツールを何とかしたいと思い、エンジニアを志す。
        .profile-box-parent-4
        .profile-box-parent-5
        .profile-box-parent-6