.top
  .main
    .main-item
      .main-item-profile
        .main-item-profile_text
          profile
      .main-item-skill
        .main-item-skill_text
          スキル
      .main-item-deliverable
        .main-item-deliverable_text
          deliverable
  #profile
    .profile-box
      .profile-box-parent
        .profile-box-parent-title
          profile-プロフィール-