* {
  margin: 0;
  padding: 0;
}

.top {
  background-image: image-url("kabegami.JPG");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;

  .main {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-item {
      height: 200px;
      width: 1000px;
      margin-top: 450px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .main-item-profile {
        height: 100px;
        width: 300px;
        background-color: rgba(211, 148, 192, 0.7);
        cursor: pointer;
        border-radius: 5px;

        .main-item-profile_text {
          font-size: xx-large;
          font-weight: bold;
          font-family: 'Century Gothic';
          text-align: center;
          line-height: 100px;
          color: white;
        }
      }
      .main-item-profile:hover {
        background: #c598be;
        transform: translateY(3px);
      }

      .main-item-skill {
        height: 100px;
        width: 300px;
        background-color: rgba(211, 148, 192, 0.7);
        cursor: pointer;
        border-radius: 5px;

        .main-item-skill_text {
          font-size: xx-large;
          font-weight: bold;
          font-family: 'Century Gothic';
          text-align: center;
          line-height: 100px;
          color: white;
        }
      }
      .main-item-skill:hover {
        background: #c598be;
        transform: translateY(3px);
      }

      .main-item-deliverable {
        height: 100px;
        width: 300px;
        background-color: rgba(211, 148, 192, 0.7);
        cursor: pointer;
        border-radius: 5px;

        .main-item-deliverable_text {
          font-size: xx-large;
          font-weight: bold;
          font-family: 'Century Gothic';
          text-align: center;
          line-height: 100px;
          color: white;
        }
      }
      .main-item-deliverable:hover {
        background: #c598be;
        transform: translateY(3px);
      }
    }
  }

  #profile {
      
    .profile-box {
      height: 800px;
      width: 1000px;
      margin: 0 auto;
      margin-top: 500px;
      background-color: white;
      border-radius: 5px;
      
      .profile-box-title {
        height: 50px;
        padding-top: 50px;
        font-family: 'Century Gothic';
        font-size: xx-large;
        text-align: center;
      }
      .profile-box-parent {
        width: 700px;
        padding-top: 100px;
        margin: 0 auto;

        .profile-box-parent-1 {
          text-align: center;
        }
        .profile-box-parent-2 {
          text-align: center;
        }
        .profile-box-parent-3 {
          text-align: center;
        }
      }
    }
  }
}