

.top_button {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: white;
  opacity: 0.9;
  position: relative;
  position: absolute;
  right: 50px;
  bottom: 50px;
  position: fixed;
  cursor: pointer;

  a {
    display: block;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    text-decoration: none;
    color: grey;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    font-size: large;
  }
}
  
